<div class="min-vh-100 bg-white">
  <div class="container px-3 py-5">
    <div class="top-wrapper position-relative d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h1><strong>緑の掲示板へようこそ</strong></h1>
        <h2>あなたが育てている植物を観察日記として共有しよう!</h2>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-1 mt-5 mb-5">
      <%# Step1 %>
      <div class="flex items-start gap-4 bg-white rounded-xl border px-5 py-4">
        <p class="fw-bold small mb-1" style="font-family: sans-serif;">1. 観葉植物を投稿する</p>
        <p>植物名がわからなくても判別してくれるので、画像1枚あれば気軽に投稿できます。</p>
      </div>
      <%# Step2 %>
      <div class="flex items-start gap-4 bg-white rounded-xl border px-5 py-4">
        <p class="fw-bold small mb-1" style="font-family: sans-serif;">2. 観葉植物を探す</p>
        <p>タイトル・植物名からでも検索が可能。同じ植物でも形は千差万別。</p>
      </div>
      <%# Step3 %>
      <div class="flex items-start gap-4 bg-white rounded-xl border px-5 py-4">
        <p class="fw-bold small mb-1" style="font-family: sans-serif;">3. 観葉植物を登録する</p>
        <p>気に入った植物はお気に入り登録しよう。自分だけの観葉植物を集められるかも。</p>
      </div>
    </div>
    <h2 class="fs-4 fw-semibold flex-shrink-0">
      一覧
    </h2>
    <div class="flex-grow-1 d-flex justify-content-end" style="min-width: 0;">
      <%= search_form_for @q, url: root_path do |f| %>
        <div class="input-group mb-3">
          <%= render 'posts/search_form', q: @q, url: root_path %>
        </div>
      <% end %>    
    </div>
    <div class="d-flex flex-wrap align-items-center gap-3 mb-3 mt-4">      
      <div class="row g-4">
        <% if @works.present? %>
          <%= render @works %>
        <% else %>
          <div class="col">
            <div class="mb-3">投稿はまだありません</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>