<div class="min-vh-100 bg-white">
  <div class="top-wrapper position-relative d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="text-success-emphasis style="font-family: serif;"><strong>みどりのへやへようこそ</strong></h1>
      <h3 class="text-success">今育てている観葉植物はありませんか。</h3>
      <h3 class="text-success">この部屋に投稿して飾ってみませんか。</h3>
    </div>
  </div>
  <div class="text-success-emphasis container px-3 py-5">
    <h2 class="text-center fs-4 fw-semibold flex-shrink-0">
      How to used
    </h2>
    <div class="row row-cols-1 row-cols-md-3 g-1 mt-5 mb-5">
      <div class="flex items-start gap-4 bg-white rounded-xl border px-5 py-4">
        <p class="fw-bold small mb-1" style="font-family: sans-serif;">1. 観葉植物を投稿する</p>
        <p>植物名がわからなくても判別してくれるので、画像1枚あれば気軽に投稿できます。</p>
      </div>
      <div class="flex items-start gap-4 bg-white rounded-xl border px-5 py-4">
        <p class="fw-bold small mb-1" style="font-family: sans-serif;">2. 観葉植物を探す</p>
        <p>タイトル・植物名からでも検索が可能。同じ植物でも形は千差万別。</p>
      </div>
      <div class="flex items-start gap-4 bg-white rounded-xl border px-5 py-4">
        <p class="fw-bold small mb-1" style="font-family: sans-serif;">3. 観葉植物を登録する</p>
        <p>気に入った植物はお気に入り登録しよう。自分だけの観葉植物を集められるかも。</p>
      </div>
    </div>
    <h2 class="text-center fs-4 fw-semibold flex-shrink-0 mb-5">
      投稿された観葉植物
    </h2>
    <div class="flex-grow-1 d-flex justify-content-end" style="min-width: 0;">
      <%= search_form_for @q, url: root_path do |f| %>
        <div class="input-group mb-3">
          <%= render 'posts/search_form', q: @q, url: root_path %>
        </div>
      <% end %>    
    </div>

    <% if @posts.present? %>
      <div class="row" data-masonry='{"percentPosition": true }'>
        <%= render @posts %>
      </div>      
    <% else %>
      <div class="row">
        <div class="col">
          <div class="mb-3">投稿はまだありません</div>
        </div>
      </div>
    <% end %>
  </div>
</div>