<script type="text/javascript">
$(function() {
  const data = [
    "キュウリ",
    "ゴーヤー",
    "トマト",
    "メロン",
    "スイカ",
    "ナス",
    "ピーマン",
    "パプリカ",
    "トウガラシ",
    "カボチャ",
    "レタス",
    "セロリ",
    "カリフラワー",
    "ブロッコリー",
    "キャベツ",
    "ハクサイ",
    "ホウレンソウ",
    "シュンギク",
    "コマツナ",
    "チンゲンサイ",
    "タアサイ",
    "ミズナ",
    "ニンニク",
    "ニラ",
    "ラッキョウ",
    "ネギ",
    "ダイコン",
    "ニンジン",
    "カブ",
    "ゴボウ",
    "エンドウ",
    "インゲン",
    "ソラマメ",
    "エダマメ",
    "サトイモ",
    "ナガイモ",
    "サツマイモ",
    "ジャガイモ",
    "レンコン",
    "アーティチョーク",
    "アシタバ",
    "ウド",
    "エゴマ",
    "オクラ",
    "クレソン",
    "ズッキーニ",
    "トウモロコシ"
  ];
  $( "#inputField" ).autocomplete({
  source: data
  });
});
</script>

<div class="col-auto">
  <%= f.search_field :variety_name_cont, class: 'form-control', placeholder: '名' %>
</div>  

