<div class="container pt-3">
  <div class="row">
    <div class="col-lg-12 offset-auto mb-3">
      <%= render 'search_form', q: @q, url: diaries_path %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @diaries.present? %>
          <%= render @diaries %>
        <% else %>
          <div class="mb-3"><%= t('diaries.index.no_diaries') %></div>
        <% end %>
      </div>
      <%= paginate @diaries, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
