<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 style="color: #006400;"><%= t('.title') %></h1>
      <%= render 'form', diary: @diary %>
    </div>
  </div>
</div>
