<div class="container pt-5">
  <h1 style="color: #006400;">緑の掲示板の使い方</h1>
  <div class="Inner-Box">
    <p>緑の掲示板とは、野菜、花、果樹など、ご家庭で育てている植物の観察日記を閲覧できる掲示板サイトです。</p>
    <p>ユーザー自身が観察日記を投稿することも出来るため、育てた植物を共有することによって、園芸を趣味として持つもの同士のコミュニティを目指します。</p>
    <p>初心者も上級者も気軽に利用できます。もしかしたら珍しい植物の観察日記に出会えるかもしれません!</p>
  </div>
    
  <div class="Inner-Box">
    <h2>観察日記を見る</h2>
    <p>ページ右の「日記一覧」ボタンから見ることができます。</p>
    <p>日記をクリックすることで成長段階を含めた日記の詳細を見ることができます。</p>
  </div>
  <%= image_tag 'show.jpg', class: 'img-fluid' %>

  <div class="Inner-Box">
    <h2>観察日記を作る</h2>
    <p>ページ右の「新規作成」ボタンから新しく問題を作成することができます。</p>
    <p>作成する際はタイトル、概要、サムネイル、植物名を必ず設定してください。</p>
    <p>「追加」ボタンを押すことで、成長段階を入力できるフォームが生成するので、観察した日数分だけ追加することができます。</p>
  </div>
  <%= image_tag 'new.png', class: 'img-fluid' %>
    
  <div class="Inner-Box">
    <h2>日記を作るには、会員登録が必要です。初めての方は「会員登録」を行なってください。</h2>
  </div>  
  <div class="button-container">
    <%= link_to t('.create'), new_user_path, class: "btn btn-secondary" %>
  </div>
</div>
