<div class="container pt-5">
  <div class="Inner">
    <h1 style="color: #006400;">利用規約</h1>
    <p class="Inner-Text first">この利用規約（以下、「本規約」といいます。）は、ユーザーが、当方が提供する「緑の掲示板」サービス（以下「本サービス」）をご利用いただく際の取り扱いにつき定めるものです。本規約に同意した上で本サービスをご利用ください。</p>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第１条 （定義）</h3>
      <ol class="Inner-Box-List">本規約上で使用する用語の定義は、次に掲げるとおりとします。
        <li class="Inner-Box-List-Item-Ol-Item">「本サービス」とは、当方が提供する緑の掲示板という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含む。）</li>
        <li class="Inner-Box-List-Item-Ol-Item">「本サイト」とは、当方が運営するドメインが「midorino-keijiban.com」であり、本サービスのコンテンツが掲載されたウェブサイト（理由の如何を問わず、当方のウェブサイトのドメインまたは内容が変更された場合は、 当該変更後のウェブサイトを含む。）</li>
        <li class="Inner-Box-List-Item-Ol-Item">「本コンテンツ」とは、本サービスで提供される文字、静止画</li>
        <li class="Inner-Box-List-Item-Ol-Item">「ユーザー」とは、本サービスを利用するすべての方</li>
        <li class="Inner-Box-List-Item-Ol-Item">「メールアドレス」とは、本サービスの利用のために登録利用者が固有に持つ文字列</li>
        <li class="Inner-Box-List-Item-Ol-Item">「パスワード」とは、メールアドレスに対応して登録利用者が固有に設定する暗号</li>
        <li class="Inner-Box-List-Item-Ol-Item">「登録情報」とは、登録利用者が本サイトにて登録した情報の総称（投稿情報は除く）</li>
        <li class="Inner-Box-List-Item-Ol-Item">「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権に関して法令により定められた権利または法律上保護される利益に係る権利</li>      
      </ol>
    </div>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第２条 （本規約への同意）</h3>
      <ol class="Inner-Box-List">ユーザーは、本規約に同意を頂いた上で、本サービスを利用できるものとします。</ol>
    </div>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第３条 （本規約の変更）</h3>
      <ol class="Inner-Box-List">当方は、必要と判断した場合には、ユーザーに通知することなくいつでも、本規約の内容を改定することができるものとし、なお、本規約の変更後、本サービスの利用を開始した場合には、当該ユーザーは変更後の規約に同意したものとみなします。</ol>
    </div>
    <div class="Inner-Box">
    <h3 class="Inner-Box-Headline">第４条（禁止事項）</h3>
      <ol class="Inner-Box-List">ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。
        <li class="Inner-Box-List-Item">法令または公序良俗に違反する行為</li>
        <li class="Inner-Box-List-Item">本サービスの内容等、本サービスに含まれる著作権、商標権ほか知的財産権を侵害する行為</li>
        <li class="Inner-Box-List-Item">当方、ほかのユーザー、またはその他第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
        <li class="Inner-Box-List-Item">本サービスによって得られた情報を商業的に利用する行為</li>
        <li class="Inner-Box-List-Item">当方のサービスの運営を妨害するおそれのある行為</li>
        <li class="Inner-Box-List-Item">不正アクセスをし、またはこれを試みる行為</li>
        <li class="Inner-Box-List-Item">他のユーザーに関する個人情報等を収集または蓄積する行為</li>
        <li class="Inner-Box-List-Item">不正な目的を持って本サービスを利用する行為</li>
        <li class="Inner-Box-List-Item">他のユーザーに成りすます行為</li>
        <li class="Inner-Box-List-Item">当方が許諾しない本サービス上での宣伝、広告、勧誘、または営業行為</li>
        <li class="Inner-Box-List-Item">本サービスの他のユーザーまたはその他の第三者に不利益、損害、不快感を与える行為</li>
        <li class="Inner-Box-List-Item">面識のない異性との出会いを目的とした行為</li>
        <li class="Inner-Box-List-Item">当方のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
        <li class="Inner-Box-List-Item">その他、当方が不適切と判断する行為</li>
      </ol>
    </div>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第５条（本サービスの提供の停止等）</h3>
      <ol class="Inner-Box-List">当方は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
        <li class="Inner-Box-List-Item">本サービスにかかるコンピューターシステムの保守点検または更新を行う場合</li>
        <li class="Inner-Box-List-Item">地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
        <li class="Inner-Box-List-Item">コンピューターまたは通信回線等が事故により停止した場合</li>
        <li class="Inner-Box-List-Item">その他、当方が本サービスの提供が困難と判断した場合</li>
      </ol>
    </div>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第６条（本サービスの内容の変更、終了）</h3>
      <ol class="Inner-Box-List">
        <li class="Inner-Box-List-Item">当方は、当方の都合により、本サービスの内容を変更し、または提供を終了することができます。</li>
       <li class="Inner-Box-List-Item">当方が本サービスの提供を終了する場合、当方はユーザーに事前に通知するものとします。</li>
      </ol>
    </div>    
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第７条（保証の否認及び免責）</h3>
      <ol class="Inner-Box-List">
        <li class="Inner-Box-List-Item">当方は本サービスの内容変更、中断、終了によって生じたいかなる損害についても、一切責任を負いません。</li>
        <li class="Inner-Box-List-Item">当方は、ユーザーの本サービスの利用環境について一切関与せず、また一切の責任を負いません。</li>
        <li class="Inner-Box-List-Item">当方は、本サービスに関してユーザーが被った損害について賠償する責任を負わないものとし、また、付随的損害、間接損害、特別損害、将来の損害及び逸失利益にかかる損害については、 賠償する責任を負わないものとします。</li>
        <li class="Inner-Box-List-Item">本サービスまたは当方ウェブサイトに関連してユーザーと他のユーザーまたは第三者との間において生じた取引、連絡、紛争等については、ユーザーが自己の責任によって解決するものとします。</li>
      </ol>
    </div>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第８条（個人情報の取扱い）</h3>
      <ol class="Inner-Box-List">当方は、本サービスの利用によって取得する個人情報については当方「プライバシーポリシー」に従い適切に取り扱うものとします。</ol>
    </div>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第９条（権利譲渡の禁止）</h3>
      <ol class="Inner-Box-List">ユーザーは、予め当方の書面による承諾がない限り、本規約上の地位および本規約に基づく権利または義務の全部または一部を第三者に譲渡してはならないものとします。</ol>
    </div>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第１０条（分離可能性）</h3>
      <ol class="Inner-Box-List">本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</ol>
    </div>
    <div class="Inner-Box">
      <h3 class="Inner-Box-Headline">第１１条（準拠法、管轄裁判所）</h3>
      <ol class="Inner-Box-List">
        <li class="Inner-Box-List-Item">本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</li>
        <li class="Inner-Box-List-Item">本サービスに関して紛争が生じた場合には、当方の本店所在地を管轄する裁判所を専属的合意管轄とします。</li>
      </ol>
    </div>
  </div>
</div>