<div class="col-6 col-md-4 col-lg-3">
  <div id="post-id-<%= post.id %>">
    <%= link_to post_path(post), class: "card text-decoration-none" do %>
      <%= image_tag post.image_url, class: "card-img-top", width: "350", height: "200" %>
    <% end %>
  </div>
</div>
